.container {
  min-height: 100vh;
  padding: 0 0.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.main1, .main2{
  display: flex;
}
#box{
  padding: 60px;
  border: 1px solid;
  margin: 4px 0 0 30px;
  cursor: pointer;
  background-color:  #9bc1e8;
  z-index: auto;
}
#box5{
  position: absolute;
  padding: 60px;
  margin-left: 30px;
  border: 1px solid;
  cursor: pointer;
  background-color:  #9bc1e8;
  z-index: 1;
}
